<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<!-- 	<context-param> -->
<!--       <param-name>contextConfigLocation</param-name> -->
<!--       <param-value>classpath*:WEB-INF/applicationConfig.xml</param-value> -->
<!--    	</context-param> -->

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.blusoft.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>authServlet</servlet-name>
		<servlet-class>com.blusoft.server.AuthServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/katalog/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>authServlet</servlet-name>
		<url-pattern>/katalog/auth</url-pattern>
	</servlet-mapping>

	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>katalog.html</welcome-file>
	</welcome-file-list>

</web-app>
